<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Skylark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54BF89D01BD43FCF007B0EE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54BF89EC1BD43FCF007B0EE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54BF89F71BD43FCF007B0EE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
